* {
    font-family: "Roboto", sans-serif;
}

#main-div {
    display: grid;
	grid-template-columns: 3fr 3fr 3fr;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 145px;
}

#main-div div {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px 10px 5px 10px;
    height: 500px;
    width: 300px;
    margin-bottom: 50px;
}

p {
    padding: 0;
}

#taste {
    font-style: italic;
    color: gray;
}

img {
    width: 200px;
    height: 200px;
    margin-left: 40px;
}

button {
    appearance: none;
    background-color: #fafafa;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin-left: 40px;
    margin-top: 55px;
    outline: none;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 50px;
}

button:hover {
    background-color: #6D2BF8;
    color: white;
    border: #6D2BF8;
}
