<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <label for="lastName">Nom : </label>
  <input type="text" name="lastName" id="lastName" [(ngModel)]="user.lastName" required />

  <label for="firstName">Prénom : </label>
  <input type="text" name="firstName" id="firstName" [(ngModel)]="user.firstName" required />

  <label for="address">Adresse postale : </label>
  <input type="text" name="address" id="address" [(ngModel)]="user.address" required />

  <label for="zipCode">Code postal : </label>
  <input type="text" name="zipCode" id="zipCode" pattern="[0-9]{5}" [(ngModel)]="user.zipCode" required />

  <label for="city">Ville : </label>
  <input type="text" name="city" id="city" [(ngModel)]="user.city" required />

  <label for="country">Pays : </label>
  <input type="text" name="country" id="country" [(ngModel)]="user.country" required />

  <label for="phoneNumber">Téléphone : </label>
  <small>Format: 06-05-04-03-02</small>
  <input type="tel" name="phoneNumber" id="phoneNumber" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" [(ngModel)]="user.phoneNumber" required />

  <label for="mailAddress">Adresse mail : </label>
  <input type="email" name="mailAddress" id="mailAddress" pattern="+@example\.com" [(ngModel)]="user.mailAddress" required />

  <label for="civility">Civilité : </label>
  <select name="civility" id="civility" [(ngModel)]="user.civility" required>
      <option value="">--Choisir une civilité--</option>
      <option value="madame">Madame</option>
      <option value="mademoiselle">Mademoiselle</option>
      <option value="monsieur">Monsieur</option>
  </select>

  <label for="login">Identifiant : </label>
  <input type="text" name="login" id="login" [(ngModel)]="user.login" required />

  <label for="password">Mot de passe : </label>
  <small>8 caractères minimum</small>
  <input type="password" id="password" name="password" minlength="8" [(ngModel)]="user.password" required />

  <label for="confirmPassword">Confirmation du mot de passe : </label>
  <input type="password" id="confirmPassword" name="confirmPassword" minlength="8" [(ngModel)]="user.confirmPassword" required />

  <div *ngIf="user.password !== user.confirmPassword && userForm.submitted" style="color: red;">
      Les mots de passe ne correspondent pas.
  </div>

  <input type="submit" value="Envoyer" [disabled]="userForm.invalid || user.password !== user.confirmPassword" />
</form>
