<form [formGroup]="connectionForm" (ngSubmit)="onSubmit($event)">
    <label for="login">Login</label>
    <input type="text" id="login" name="login" formControlName="login" appFormFieldHighlight>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" formControlName="password" appFormFieldHighlight>

    <button type="submit">Login</button>
</form>
<h1>Pour tester <br/> login : oceane <br/> mdp : 000000</h1>
<div *ngIf="showErrorMessage">
    <h1>Invalid username or password. Please try again.</h1>
</div>